version: '3.8'

services:
  SecretsManagementService:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - postgres
      - eureka

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: SecretsManagementService
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  eureka:
    image: springcloud/eureka
    ports:
      - "8761:8761"

volumes:
  postgres_data:
