apiVersion: v1
kind: Service
metadata:
  name: EnterpriseTestService-EnterpriseTestService
  namespace: EnterpriseTestService
  labels:
    app: EnterpriseTestService-EnterpriseTestService
    component: backend
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  - name: actuator
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: EnterpriseTestService-EnterpriseTestService
  sessionAffinity: None
---
apiVersion: v1
kind: Service
metadata:
  name: EnterpriseTestService-EnterpriseTestService-headless
  namespace: EnterpriseTestService
  labels:
    app: EnterpriseTestService-EnterpriseTestService
    component: backend
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: EnterpriseTestService-EnterpriseTestService
  sessionAffinity: None